@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.top{
    width:100%;
    height : 32px;
    background-color: #000000;
    color : #EB4C6B;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-utilities:hover{
  /* background-color: #EB4C6B !important; */
  cursor: pointer !important;
}
.toggleSidebar{
  display:none
}
.left-m{
    margin-left: 274px;
}
.right-m{
    margin-right: 274px;
}
.headline{
    width:150px;     /*138px*/
    height:16px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    letter-spacing: 1px;
}
.bottom-nav{
    position: relative;
    height : 148px;
    border-bottom: 1px solid #F1F1F1;
}

.bottom-nav-utility{
    margin : 36px 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}
.website-name{
    font-family: "Inter", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 36px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px
  }
  .nav-utilities{
    width: 244px;
    height:24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links{
    position: absolute;
    top:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%
  }
  .nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:636px;
    height:24px;
  }
  .nav-links ul li{
    list-style: none;
    line-height: 24px;
  }
  .nav-links ul li a{
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .menu{
    display:none
  }
  .nav-links ul li a:hover{
    color:blue
  }
/* dropdown code */
#languages {
  padding: 4px;
  font-size: 16px;
  /* border-radius: 4px; */
  /* border: 1px solid #ccc; */
  outline: none; 
}

/* Style the dropdown options */
option {
  padding: 8px;
}


@media screen and (max-width:1080px){
    .left-m{
        margin-left: 174px;
    }
    .right-m{
        margin-right: 174px;
    }
}
@media screen and (max-width:930px){
    .nav-utilities{
        width: 200px;
    }
}
@media screen and (max-width:830px){
    .left-m{
        margin-left: 144px;
    }
    .right-m{
        margin-right: 144px;
    }
    .nav-links {
        position: absolute;
        top: 60px;
      }
      .bottom-nav {
        height: 118px;
      }
}
@media screen and (max-width:768px){
    .left-m{
        margin-left: 94px;
    }
    .right-m{
        margin-right: 94px;
    }
    .nav-utilities{
        width: 168px;
    }
    .bottom-nav-utility{
        margin : 36px 56px;
    }
    .nav-links ul {
        width:586px;
        height:24px;
      }
}
@media screen and (max-width:658px){
    .bottom-nav-utility{
        margin : 36px 55px;
    }
    .bottom-nav-utility{
        margin : 30px 36px;
    }
    .nav-links ul {
        width:500px;
        height:24px;
    }
    .left-m {
        margin-left: 74px;
      }
      .right-m{
        margin-right: 74px;
      }
      .headline {
        font-size: 11px;
        letter-spacing: 0.5px;
      }
}
@media screen and (max-width:548px){
    .left-m, .right-m{
        display:none
    }
    .top{
        justify-content: center;
    }
    .nav-links ul li a{
        font-size: 18px;
      }
      .bottom-nav-utility{
        margin : 30px 16px;
    }
    .nav-links ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 60px);
      margin:0 auto
    }
    
}
@media(max-width:550px){
    
    .top{
        height:24px
    }
    .nav-links{
        display:none
    }
    .profile, .lang{
        display:none
    }
    .nav-utilities{
        width: 84px;
        height:20px
    }
    .website-name{
        font-size: 20px;
        width: 100%;
        z-index: -1;

      }
      .logo > img, .nav-utilities>img{
        width:20px;
        height:20px
      }
      .bottom-nav{
        height:55px
      }
      .menu{
        display: inline;
      }
      .logo{
        display: flex;
        justify-content: space-between;
        width:50px;
        align-items: center;
      }
      .toggleSidebar{
        transition: all 0.5s;
        position: absolute;
        left:0;
        top:-15%;
        z-index: -3;
        visibility:hidden;
      }
      .bottom-nav-utility{
        position: relative;
      }
      .sibebarlogo{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .zindex3{
        transition: all 3s;
        display: flex;
            width:30%;
            padding-left: 10px;
            height:100vh;
            flex-direction: column;
            gap:15px;
            background-color: white;
            /* background-color: aqua; */
            position: absolute;
            left:-5%;
            top:-30%;
            z-index: 3; 
            visibility:visible;
            font-size: 16px;
            font-weight: 700;
            box-shadow: 5px 5px 10px #c9bdbd;
      }
      .zindex3 div:hover{
        color: rgb(7, 7, 131);
      }
    }

    /*  */
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      transition: transform 0.3s ease;
      transform: translateX(0);
    }
    
    .navbar.open {
      transform: translateX(-250px); /* Adjust the width of the drawer as needed */
    }
    